@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --black: rgb(11, 10, 11);
  /* CSS HEX */
  --main--black: rgb(10, 10, 11);
  --main--gold: #fed725ff;
  --main--blue: #2357ffff;
  --main--light-cyan: #e0fbfcff;
  --main--crimson: #d62839ff;

  /* SCSS Gradient */
  --gradient-main: linear-gradient(
    0deg,
    #191716ff,
    #fed725ff,
    #2357ffff,
    #e0fbfcff,
    #d62839ff
  );

  /* CSS HEX */
  --rich-black: #03071eff;
  --chocolate-cosmos: #370617ff;
  --rosewood: #6a040fff;
  --penn-red: #9d0208ff;
  --engineering-orange: #d00000ff;
  --sinopia: #dc2f02ff;
  --persimmon: #e85d04ff;
  --princeton-orange: #f48c06ff;
  --orange-web: #faa307ff;
  --selective-yellow: #ffba08ff;

  /* SCSS Gradient */
  --gradient-rengoku: linear-gradient(
    90deg,
    #03071eff,
    #370617ff,
    #6a040fff,
    #9d0208ff,
    #d00000ff,
    #dc2f02ff,
    #e85d04ff,
    #f48c06ff,
    #faa307ff,
    #ffba08ff
  );
  /* CSS HEX */
  --federal1-blue: #03045eff;
  --federal2-marian-blue: #023e8aff;
  --federal3-honolulu-blue: #0273b0;
  --federal4-blue-green: #0096c7ff;
  --federal5-pacific-cyan: #00b4d8ff;
  --federal6-vivid-sky-blue: #48cae4ff;
  --federal7-non-photo-blue: #90e0efff;
  --federal8-non-photo-blue-2: #ade8f4ff;
  --federal9-light-cyan: #caf0f8ff;

  --gradient-federal: linear-gradient(
    134deg,
    #03045e 0%,
    #023e8a 15%,
    #0077b6 30%,
    #0096c7 45%,
    #00b4d8 60%,
    #48cae4 75%,
    #90e0ef 85%,
    #ade8f4 95%,
    #caf0f8 100%
  );
  --gradient-federal4: linear-gradient(
    90deg,
    #03045e 0%,
    #023e8a 45%,
    #0077b6 75%,
    #0096c7 100%
  );
}

* {
  font-family: "Poppins", serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  color: var(--federal9-light-cyan);
  /* border: 1px solid green; */
  user-select: none;
}

body #app {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

li {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  background-color: var(--main--light-cyan);
  color: var(--main--eerie-black);
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

li:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 200px; */
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.762);
  z-index: 10;
  border-radius: 2rem;
}

.nav {
  height: 3.5rem;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__list {
  height: 80%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 5px 0px;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__list img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
/* ! main  //////////////////////////////////////////////////  */
#main_inicio {
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  /* margin: 250px 100px; */
}

#main_inicio h1 {
  font-size: xxx-large;
  color: var(--marian-blue);
  background: var(--gradient-federal);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#main_inicio h2 {
  font-size: xxx-large;
  background: var(--gradient-federal);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#main_inicio ul {
  height: 4rem;
}

#main_inicio li {
  height: 4rem;
}
#main_inicio li img {
  height: 4rem;
  /* filter: grayscale(100%); */
}

#main_inicio li img:hover {
  cursor: pointer;
}

#sobreMi {
  height: 100vh;
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.sobreMi__texto {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
/* 
.decoracion {
  color: transparent;
  background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(255, 255, 255, 0.5) 50%,
      transparent 100%
    ),
    linear-gradient(120deg, #023e8a 0%, #007bb8 50%, #023e8a 100%); 
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 100%, 100% 100%;
  background-position: -100% 0, 0 0;
  animation: background-animation 5s linear infinite;
} */

@keyframes background-animation {
  0% {
    background-position: -100% 0, 0 0;
  }
  100% {
    background-position: 200% 0, 0 0;
  }
}

/* ! ////////////////     proyectos     ////////////////////////////  */

#proyectos {
  padding-top: 5rem; /* Ajusta este valor según la altura de tu header */
  margin-top: -5rem 0rem 5rem 0rem; /* Compensa el espacio adicional */
  width: 80%;
  height: 100%;
  /* border: 1px solid wheat; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}
.Proyectos__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
.proyecto__img {
  max-width: 400px;
}
.proyecto__img img {
  width: auto;
}
.proyectos__card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(233, 232, 235);
  padding: 2rem;
  /* justify-content: center; */
  align-items: center;
  gap: 2rem;
  border-radius: 10px;
}

.Proyectos__contenedor__img {
  height: 2rem;
  padding: 5px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid var(--federal9-light-cyan);
  /* background-color: #0056b3; */
  gap: 5px;
}
.Proyectos_contenedor--img {
  height: 100%;
}

.proyecto__contenedor__botones {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
}
.proyecto__botones {
  width: 40%;
  border: 1px solid var(--federal9-light-cyan);
  padding: 10px;
  border-radius: 1rem;
  text-decoration: none;
}

/* Efecto hover para ambos botones */
.proyecto__botones:hover {
  background-color: var(--federal9-light-cyan);
  color: black; /* Cambia el color del texto al hacer hover */
}

.proyectos__icons {
  display: flex;
  gap: 1rem;
}
.proyectos__icons img {
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 250px;
  min-width: auto;

  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  background: var(--main--black);
  align-items: center;
  background-size: cover;
  background-position: center;
  flex-shrink: 0%;
}

.swiper-slide img {
  display: block;
  height: 100%; /* Ajusta la imagen al alto del contenedor */
  max-width: 100%;
  object-fit: cover;
  object-fit: contain;
}

/* ! ///////////////  tecnologías ///////////////////////////  */

#technologies {
  /* background-color: #0096c7; */
  width: 80%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem; /* Ajusta este valor según la altura de tu header */
  margin-top: -5rem 0rem 5rem 0rem; /* Compensa el espacio adicional */
  gap: 4rem;
}

.technologies__cards_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}
.technologies__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--federal9-light-cyan);
  gap: 2rem;
  padding: 1rem;
  border-radius: 10px;
}
.technologies__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 2rem;
  column-gap: 1rem;
  margin-bottom: 10px;
}
.technologies__item {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.technologies__item img {
  height: 4rem;
}

/* ! //////////////// contactarme ///////// */
.contacto {
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: 4rem 0rem 4rem 0rem;
  /* background-color: #0096c7; */
}
.contacto__contenedor {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contacto__contenido {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
  border: 1px solid var(--federal8-non-photo-blue-2);
  border-radius: 10px;
  width: 90%;
}

.contacto__formulario input {
  width: 100%;
  height: 2rem;
  border: 1px solid;
  border-radius: 10px;
  background-color: transparent;
  padding: 0px 12px;
}
.contacto__formulario textarea {
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid var(--federal9-light-cyan);
  padding: 1rem;
}

#contacto__formulario--boton {
  border-radius: 10px;
  color: var(--black);
  font-size: large;
  font-weight: 400;
  height: 2rem;
  margin-top: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--federal9-light-cyan);
}
#contacto__formulario--boton:hover {
  background-color: white;
}
/* cambia a la seccion redes sociales */

.contacto__formulario,
.contacto__redes_resumen {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contacto__redes_resumen {
  /* padding: 1rem; */
  /* background-color: #0096c7; */
}
.contacto__redes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  text-align: left;
  border: 1px solid var(--federal9-light-cyan);
  border-radius: 10px;
}
.contacto__redes__iconos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}
.contacto__redes__iconos div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(157, 155, 155);
  border-radius: 10px;
  cursor: pointer;
}
.contacto__redes__iconos div img {
  margin: 2rem 0rem;
}
.contacto__resumen {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
  border: 1px solid var(--federal9-light-cyan);
  padding: 1rem;
  gap: 10px;
  border-radius: 10px;
}

.contacto__resumen__descargar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  color: var(--black);
  background: var(--federal9-light-cyan);
  border-radius: 10px;
  cursor: pointer;
}

.contacto__resumen__descargar:hover {
  background-color: white;
}

.contacto__resumen__descargar:active {
  background-color: transparent;
  border: 1px solid white;
}

/* !  modal  */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s;
}

/* Estilos para el contenedor del alert */
.modal {
  color: black;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  min-width: 300px;
}
#alertMessage {
  color: black;
}
.modal button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  background: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.modal button:hover {
  background: #0056b3;
}

/* Mostrar el modal */
.show {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 964px) {
  .technologies,
  .contacto {
    height: 100%;
    margin: 4rem 0rem;
  }
  .technologies__list {
    /* width: 80%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Proyectos__cards,
  .technologies__cards_wrapper {
    /* grid-template-columns: 1fr; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .technologies__card {
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .contacto {
    height: 110%;
    padding: 5rem 0rem;
  }
  .contacto__contenedor {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 3rem;
  }
  .contacto__redes_resumen {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .technologies__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .proyectos__icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
  }
  .Proyectos__contenedor--img {
    height: 100%;
  }
  .proyectos__card {
    width: 95%;
  }
}
@media screen and (max-width: 500px) {
  * {
    font-size: medium;
  }
  h2 {
    font-size: large;
  }
  .Proyectos__contenedor--texto {
    font-size: x-small;
  }

  #main_inicio,
  #sobreMi,
  #contacto,
  #technologies,
  #proyectos {
    width: 95%;
    max-width: 95%;
  }
  header {
    top: calc(100dvh - 3.5rem);
    height: 78px;
    background-color: var(--black);
  }
  .nav {
    height: 100%;
    width: 100%;
    background-color: var(--black);
    border-radius: 0px;
    border-bottom: 25px solid var(--black);
  }
  #main_inicio h1 {
    width: 100%;
    font-size: x-large;
    text-align: center;
  }
  #main_inicio h2 {
    width: 100%;
    text-align: center;
    font-size: x-large;
  }
  #main_inicio ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #main_inicio li img {
    height: 3rem;
    margin-top: 1rem;
  }
  .technologies__item img {
    height: 4rem;
  }
  .proyecto__contenedor__botones {
    flex-direction: column;
    gap: 10px;
  }
  .proyecto__botones {
    width: auto;
  }
}
